<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.krmao.screenshot">

    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32" />

    <!-- Required only if your app needs to access images or photos that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Required only if your app needs to access videos that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

</manifest>
